.user-container {
  height: 75px;
  border: 1px solid #d2cfcf;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  gap: 15px;
  padding: 0 20px;
}

.user-container-heading {
  height: 50px;
  margin-top: 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 18px;
  color: #333333;
}

.user-info {
  all: unset;
  text-decoration: underline;
}
.user-name {
  width: 250px;
}
.user-email {
  width: 400px;
}
.user-role {
  width: 150px;
}

input:disabled {
  text-decoration: none;
}

.user-actions {
  width: 200px;
  display: flex;
  gap: 10px;
}

.action{
  border: 1.5px solid #d2cfcf;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete {
  color: #ff0000;
}

.select{
  width: 15px;
  height: 15px;
  cursor: pointer;
}
